.navbarcolor{
    color: red;
    background-color: lightblue;
}
.navbarcolor .navbar-toggler{
    background-color: black;
    padding: 5px;
    color: white;
}
.navbarcolor a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 8px;
}
.navbarcolor a .active{
    border-bottom: red solid 5px;
}
.myIndex{
    background-image: linear-gradient(#0cf8, #0faa), url(../images/to\ do\ 1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    
}
.myIndex h1, h3, h4{
    color: white;
    font-weight: bold;
    font-size: 100px;
}
 .error{
    color: red;
}
.help-block{
    color: red;
}
@media screen and (max-width:768px){
    .myIndex h1, h3, h4{
        color: white;
        font-weight: bold;
        font-size: 40px;
    }
}

/* sidebar navigation */

.wrapper {
    width: 100%; }
  
  #sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
    #sidebar .h6 {
      color: #fff; }
    #sidebar.active {
      margin-left: -300px; }
      #sidebar.active .custom-menu {
        margin-right: -50px; }
      #sidebar.active .btn.btn-primary:before {
        content: "\f054";
        font-family: "FontAwesome";
        left: 2px !important; }
      #sidebar.active .btn.btn-primary:after {
        display: none; }
    #sidebar h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px; }
      #sidebar h1 .logo {
        color: #fff;
        display: block;
        padding: 10px 30px;
        background: #2f89fc; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 16px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px; }
      #sidebar ul li a {
        padding: 15px 30px;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
        #sidebar ul li a span.notif {
          position: relative; }
          #sidebar ul li a span.notif small {
            position: absolute;
            top: -3px;
            bottom: 0;
            right: -3px;
            width: 12px;
            height: 12px;
            content: '';
            background: red;
            border-radius: 50%;
            font-family: "Poppins", Arial, sans-serif;
            font-size: 8px; }
        #sidebar ul li a:hover {
          color: #fff;
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #fff; }
        #sidebar ul li.active > a:hover {
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
    @media (max-width: 991.98px) {
      #sidebar {
        margin-left: -300px; }
        #sidebar.active {
          margin-left: 0; }
        #sidebar .custom-menu {
          margin-right: -60px !important;
          top: 10px !important; } }
    #sidebar .custom-menu {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 0;
      margin-right: -35px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #sidebar .custom-menu .btn.btn-primary {
        background: #2f89fc;
        border-color: transparent;
        position: relative;
        color: #000;
        width: 30px;
        height: 30px; }
        #sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
          position: absolute;
          top: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          font-family: "FontAwesome";
          color: #fff; }
        #sidebar .custom-menu .btn.btn-primary:after {
          content: "\f053";
          right: 2px; }
  
  .bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0; }
    .bg-wrap:after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #000;
      opacity: .3; }
    .bg-wrap .user-logo .sidebarimage {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px; }
    .bg-wrap .user-logo h3 {
      color: #fff;
      font-size: 18px; }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; 
    } 
    }
    .sidebarimage {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
      }
      #content {
        width: 100%;
        padding-bottom: 100%;
        min-height: 100px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      
      .btn.btn-primary {
        background: #2f89fc;
        border-color: #2f89fc; }
        .btn.btn-primary:hover, .btn.btn-primary:focus {
          background: #2f89fc !important;
          border-color: #2f89fc !important; }
      
      .footer p {
        color: rgba(255, 255, 255, 0.5); 
      }
      .posts{
        width: 400px;
        float: left;
      }
      /* mobile */
      @media screen and(max-width:768px){
        .posts{
          display: block;
          width: 100%;
        }
      }